extends layout

block content
  include mixins/songCard
  div.container
    if user.is('user')
      div.add-button-row
        a.button.save(href="/add") Add Song
  div.container
    each song in songs
      +songCard(song)

