body {
  padding: 0;
  margin: 0;
  background: #f3f4f6;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container {
  padding: 48px;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.content {
  background: white;
  padding: 50px;
  border-radius: 12px;
  width: 1000px;
}

.card {
  background: white;
  border-radius: 26px;
  width: 450px;
  position: relative;
  overflow: hidden;
  box-shadow:
    rgba(0, 0, 0, 0) 0 0 0 0,
    rgba(0, 0, 0, 0) 0 0 0 0,
    rgba(0, 0, 0, 0.1) 0 1px 3px 0,
    rgba(0, 0, 0, 0.6) 0 1px 2px 0
}

.card-header-image {
  width: 100%;
  height: 250px;
}

.card-title {
  position: absolute;
  color: white;
  font-size: 12px;
  bottom: 6px;
  right: 10px;
}

.backdrop {
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 250px;
}

.card-header{
  position: relative;
}

.card-body {
  padding: 24px;
  color: #111827;
}

.edit {
  width: 100%;
  display: flex ;
  justify-content: flex-end;
  margin-bottom: 8px;
}

.edit a {
  text-decoration: none;
  color: #00B7FF;
}

.song-title {
  font-size: 20px;
}

.artist-name {
  color: #a5a5a5;
}

.button {
  display: block;
  padding: 8px 16px;
  font-size: 14px;
  border: 1px solid #6B7280;
  color: #374151;
  box-shadow: none;
  text-decoration: none;
  border-radius: 5px;
  width: fit-content;
  margin-right: 16px;
}

.button.save {
  background: #155E75;
  color: white;
  border: 1px solid #164E63;
}

.button.delete {
  background: red;
  color: white;
  border: 1px solid red;
}

.button.cancel {
  background: grey;
  color: white;
  border: 1px solid grey;
}

.add-button-row{
  display: flex;
  justify-content: flex-start;
}

.main-header {
  background: #c1ffc1;
  font-size: 55px;
  font-weight: bold;
  width: 100%;
  display: flex;
  justify-content: center;
}

.form-header{
  font-size: 16px;
  color: #52525B;
  margin-bottom: 16px;
}

label {
  display: block;
  color: #3F3F46;
  font-weight: bold;
  margin-bottom: 8px;
}

input {
   border-radius: 8px;
   padding: 8px 12px;
   border: 1px solid #d1d5db;
 }

.button-row{
  display: flex;
}
