body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #E2E8F0;
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  padding: 0;
}

a {
  color: #830eff;
  display: inline-block;
  margin-right: 24px;
  text-decoration: none;
}


.container {
  max-width: 1400px;
  margin: 0 auto;
}

.card-container {
  display: flex;
  gap: 26px;
}

.content {
  box-shadow: 0 1px 3px 0 rgba(0 0 0  0.1), 0 1px 2px -1px rgba(0 0 0 0.1);
  background: rgba(0, 178, 182, 0.48);
  padding: 50px;
  border-radius: 12px;
}

.content h3{
  font-size: 20px;
  color: gold;
}

.page-header {
  font-size: 20px;
  color: #3F3F46;
}

.button-row {
  margin-bottom: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid black;
}

.button {
  padding: 8px 16px;
  border: 1px solid #A1A1AA;
  color: #52525B;
  border-radius: 8px;
  font-weight: 600;
  box-shadow: 0 1px 2px 0 rgba(0 0 0  0.05);
}

.button.button {
  cursor: pointer;
}

.button.primary {
  background: #005f3b;
  color: white;
  border-color: #005f3b;
  font-size: 16px;
}

.button.cancel {
  background: lightgrey;
  color: white;
  border-color: lightgray;
}

.button.delete {
  background: red;
  color: white;
  border-color: red;
}

label {
  display: block;
  color: gold;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 4px;
}

input, textarea {
  border-radius: 8px;
  padding: 8px 12px;
  border: 1px solid #d1d5db;
}


select {
  padding: 8px;
  background: white;
  border-radius: 6px;
  border: 1px solid #d1d5db;
}

.form-button-row {
  padding-top: 16px;
  margin-top: 16px;

  border-top: 1px solid black;
}

.form-header {
  font-size: 16px;
  color: gold;
  margin-bottom: 16px;
}

.input-container {
  margin-bottom: 16px;
}

.input-form-row .input-container {
  margin-right: 16px;
}

nav {
  box-shadow: 0 1px 3px 0 rgba(0 0 0  0.1), 0 1px 2px -1px rgba(0 0 0  0.1);
  margin-bottom: 50px;
  background: rgba(120, 255, 252, 0.55);
}

nav ul {
  list-style: none;
  margin: 0;
  display: flex;
}

nav li {
  padding: 20px 20px;
  font-size: 15px;
  font-weight: bold;
}

nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav h3 {
  color: #830eff;
  font-size: 20px;
}

nav {
  padding: 0 32px;
}

.card {
  background: white;
  border-radius: 26px;
  width: 450px;
  position: relative;
  overflow: hidden;
  box-shadow:
          rgba(0, 0, 0, 0) 0 0 0 0,
          rgba(0, 0, 0, 0) 0 0 0 0,
          rgba(0, 0, 0, 0.1) 0 1px 3px 0,
          rgba(0, 0, 0, 0.6) 0 1px 2px 0
}

.card-header-image {
  width: 100%;
  height: 250px;
}

.card-title {
  position: absolute;
  color: white;
  font-size: 14px;
  bottom: 6px;
  right: 10px;
}

.backdrop {
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 250px;
}

.card-header{
  position: relative;
  background-color: #ffecb6
}

.card-body {
  padding: 24px;
  color: #111827;
  background-color: #ffecb6;
}

.edit {
  width: 100%;
  display: flex ;
  justify-content: flex-end;
  margin-bottom: 8px;
}

.edit a {
  text-decoration: none;
  color: #00B7FF;
}

.song-title {
  font-size: 20px;
}

.artist-name {
  color: #7e7e7e;
}

.space {
  height: 30px;
}

.content-container{
  background: #99ffba;
  border-radius: 12px;
  padding: 20px;
  font-size: 18px;
  color: #b92fb8;
}

table{
  width: 100%;
}

td, th{
  padding: 8px 12px;
  text-align: left;
}